The following notebook contains code for various multivariate analysis.

# 
Write a Python code to compute $\bar x, S, R$ from data `auto.dat`. Although Python has built-in functions to get the answer, you are supposed to write a code to do it. Make sure you get the right answer by comparing with the result of built-in functions. Use the following variables for the calculation: “price, mpg, hroom, rseat, weight, length, gratio”.

In [1]:
import pandas as pd
import numpy as np

In [2]:
auto = pd.read_fwf("auto.dat", header = None, widths = [19,4,6,3,2,2,4,5,3,5,4,3,4,4], 
                   na_values='.')
auto.columns = ['model','origin', 'price', 'mpg', 'rep78', 'rep77', 'hroom', 'rseat', 
                'trunk', 'weight', 'length', 'turn', 'displa', 'gratio']
auto.head(5)

,model,origin,price,mpg,rep78,rep77,hroom,rseat,trunk,weight,length,turn,displa,gratio
0,AMC CONCORD,A,4099,22,3.0,2.0,2.5,27.5,11,2930,186,40,121,3.58
1,AMC PACER,A,4749,17,3.0,1.0,3.0,25.5,11,3350,173,40,258,2.53
2,AMC SPIRIT,A,3799,22,NaN,NaN,3.0,18.5,12,2640,168,35,121,3.08
3,AUDI 5000,E,9690,17,5.0,2.0,3.0,27.0,15,2830,189,37,131,3.20
4,AUDI FOX,E,6295,23,3.0,3.0,2.5,28.0,11,2070,174,36,97,3.70

Before computing statistics, let's define basic variables.

In [3]:
variable_of_interest = ['price', 'mpg', 'hroom', 'rseat', 'weight', 'length', 'gratio']
auto_reduced = auto[variable_of_interest]
n_rows, n_cols = auto_reduced.shape
auto_reduced.head(1)

   price  mpg  hroom  rseat  weight  length  gratio
0   4099   22    2.5   27.5    2930     186    3.58

## Computation of $\bar{x}$.

In [4]:
auto_reduced.mean()

price     6192.283784
mpg         21.297297
hroom        2.986486
rseat       26.817568
weight    3010.810811
length     188.067568
gratio       3.018108
dtype: float64

In [5]:
def get_mean(df):
    '''
    returns mean vector of input dataframe
    
    params 
    ------
    df : pandas.DataFrame object
    
    return
    ------
    result : pandas.DataFrame object
    '''
    n_rows, _ = df.shape
    ones = pd.DataFrame({'ones': np.ones(n_rows)})
    result = (ones.transpose().dot(df) / n_rows).rename({'ones': 'mean'}, axis='index')
    return result

auto_reduced_mean = get_mean(auto_reduced)
auto_reduced_mean

,price,mpg,hroom,rseat,weight,length,gratio
mean,6192.283784,21.297297,2.986486,26.817568,3010.810811,188.067568,3.018108

## Computation of $S$.

In [6]:
auto_reduced.cov()

,price,mpg,hroom,rseat,weight,length,gratio
price,8.632196e+06,-8086.619770,315.401148,3950.367549,1.270005e+06,28977.720289,-434.503565
mpg,-8.086620e+03,33.472047,-1.989078,-8.945020,-3.732025e+03,-103.239541,1.609200
hroom,3.154011e+02,-1.989078,0.705294,1.353665,3.280933e+02,9.672158,-0.140437
rseat,3.950368e+03,-8.945020,1.353665,9.777906,1.438712e+03,43.944002,-0.564117
weight,1.270005e+06,-3732.025176,328.093299,1438.711588,6.144925e+05,16777.615698,-268.835431
length,2.897772e+04,-103.239541,9.672158,43.944002,1.677762e+04,502.091262,-7.057953
gratio,-4.345036e+02,1.609200,-0.140437,-0.564117,-2.688354e+02,-7.057953,0.205394

In [7]:
def get_cov(df):
    '''
    returns covariance matrix of input dataframe
    
    params 
    ------
    df : pandas.DataFrame object
    
    return
    ------
    result : pandas.DataFrame object
    '''
    n_rows, _ = df.shape
    ones = pd.DataFrame({'ones': np.ones(n_rows)})
    deviation = df - ones.dot(ones.transpose()).dot(df) / n_rows
    result = deviation.transpose().dot(deviation) / (n_rows - 1)
    return result
auto_regduced_cov = get_cov(auto_reduced)
auto_regduced_cov

,price,mpg,hroom,rseat,weight,length,gratio
price,8.632196e+06,-8086.619770,315.401148,3950.367549,1.270005e+06,28977.720289,-434.503565
mpg,-8.086620e+03,33.472047,-1.989078,-8.945020,-3.732025e+03,-103.239541,1.609200
hroom,3.154011e+02,-1.989078,0.705294,1.353665,3.280933e+02,9.672158,-0.140437
rseat,3.950368e+03,-8.945020,1.353665,9.777906,1.438712e+03,43.944002,-0.564117
weight,1.270005e+06,-3732.025176,328.093299,1438.711588,6.144925e+05,16777.615698,-268.835431
length,2.897772e+04,-103.239541,9.672158,43.944002,1.677762e+04,502.091262,-7.057953
gratio,-4.345036e+02,1.609200,-0.140437,-0.564117,-2.688354e+02,-7.057953,0.205394

## Computation of $R$.

In [8]:
auto_reduced.corr()

           price       mpg     hroom     rseat    weight    length    gratio
price   1.000000 -0.475735  0.127825  0.429986  0.551425  0.440162 -0.326317
mpg    -0.475735  1.000000 -0.409379 -0.494444 -0.822896 -0.796368  0.613727
hroom   0.127825 -0.409379  1.000000  0.515470  0.498372  0.513981 -0.368980
rseat   0.429986 -0.494444  0.515470  1.000000  0.586938  0.627170 -0.398064
weight  0.551425 -0.822896  0.498372  0.586938  1.000000  0.955170 -0.756719
length  0.440162 -0.796368  0.513981  0.627170  0.955170  1.000000 -0.695015
gratio -0.326317  0.613727 -0.368980 -0.398064 -0.756719 -0.695015  1.000000

First we need a function to get $std$ from the dataframe.

In [9]:
def get_std(df):
    '''
    returns standard deviation dataframe of input dataframe
    
    params 
    ------
    df : pandas.DataFrame object
    
    return
    ------
    result : pandas.DataFrame object
    '''
    var_names = df.columns
    cov_mat = get_cov(df)
    result = pd.DataFrame(np.sqrt(np.diag(cov_mat)),
                      index=var_names).transpose().rename({0: 'std'}, axis='index')
    return result

auto_reduced_std = get_std(auto_reduced)
auto_reduced_std

          price       mpg     hroom     rseat     weight     length    gratio
std  2938.05992  5.785503  0.839818  3.126964  783.89571  22.407393  0.453204

In [10]:
def get_corr(df):
    '''
    returns correlation dataframe of input dataframe
    
    params 
    ------
    df : pandas.DataFrame object
    
    return
    ------
    result : pandas.DataFrame object
    '''
    cov_mat = get_cov(df)
    std = get_std(df)
    denom = std.transpose().dot(std)
    result = cov_mat / denom 
    
    return result

auto_reduced_corr = get_corr(auto_reduced)
auto_reduced_corr

           price       mpg     hroom     rseat    weight    length    gratio
price   1.000000 -0.475735  0.127825  0.429986  0.551425  0.440162 -0.326317
mpg    -0.475735  1.000000 -0.409379 -0.494444 -0.822896 -0.796368  0.613727
hroom   0.127825 -0.409379  1.000000  0.515470  0.498372  0.513981 -0.368980
rseat   0.429986 -0.494444  0.515470  1.000000  0.586938  0.627170 -0.398064
weight  0.551425 -0.822896  0.498372  0.586938  1.000000  0.955170 -0.756719
length  0.440162 -0.796368  0.513981  0.627170  0.955170  1.000000 -0.695015
gratio -0.326317  0.613727 -0.368980 -0.398064 -0.756719 -0.695015  1.000000

#  

Write a Python code to test the significance of correlation between two input variables. Using Applicant data, test the significance of correlations between the variable pairs (LC,SC), (SC,SMS), and (LC,SMS), respectively. (P-value 계산목적으로 내장함수 사용 가능)

First we import data.

In [11]:
import subprocess, sys
try:
    from scipy import stats
except:
    subprocess.check_call([sys.executable, "-m", "pip", "install", 'scipy'])
from scipy import stats

In [12]:
applicant = pd.read_csv('applican.dat', header=None, delim_whitespace=True)
applicant.columns = [
    'ID',
    'FL',
    'APP',
    'AA',
    'LA',
    'SC',
    'LC',
    'HON',
    'SMS',
    'EXP',
    'DRV',
    'AMB',
    'GSP',
    'POT',
    'KJ',
    'SUIT',
]

In [13]:
applicant.head(1)

   ID  FL  APP  AA  LA  SC  LC  HON  SMS  EXP  DRV  AMB  GSP  POT  KJ  SUIT
0   1   6    7   2   5   8   7    8    8    3    8    9    7    5   7    10

In [14]:
def get_t_statistic_from_corr(correlation, sample_size):
    '''
    returns t statistic for correlation that follows t-distribution with (sample_size - 2) degrees of freedom
    
    params 
    ------
    correlation : float
    sample_size : int
    
    return
    ------
    result : float
    '''
    result = (correlation * np.sqrt(sample_size - 2)) / np.sqrt(1 - (correlation ** 2))
    return result

def t_test_corr(df, var1, var2, alpha=0.05, two_tailed=True):
    '''
    returns true/false of t-test between var1, var2
    
    params 
    ------
    df : pandas.DataFrame obj
    var1 : str | column name of variable
    var2 : str | column name of variable
    
    return
    ------
    result : bool
    '''
    sample_size, _ = df.shape
    corr_mat = get_corr(df)
    confidence = 1 - alpha
    corr_value = corr_mat[var1][var2]
    t_stat = get_t_statistic_from_corr(corr_value, sample_size)
    p_val = 1 - stats.t.cdf(t_stat, sample_size - 2)
    
    if two_tailed:
        result = True if p_val < (alpha / 2) else False
    else:
        result = True if p_val < alpha else False
    
    title = f"Correlation t-test between {var1} and {var2}"
    print("=" * len(title))
    print(title)
    print("-" * len(title))
    print(f"t-statistic : {t_stat}")
    print(f"p-value : {p_val}")
    print("-" * len(title))
    print(f"Can we reject H0\nwith {confidence} confidence? : {result}")
    print("=" * len(title))
    
    return result

In [15]:
t_test_corr(applicant, var1 = "LC", var2 = "SC")

====================================
Correlation t-test between LC and SC
------------------------------------
t-statistic : 9.286167554204495
p-value : 2.032041201971424e-12
------------------------------------
Can we reject H0
with 0.95 confidence? : True
====================================

True

In [16]:
t_test_corr(applicant, var1 = "SC", var2 = "SMS")

=====================================
Correlation t-test between SC and SMS
-------------------------------------
t-statistic : 9.031519908359892
p-value : 4.6844750301033855e-12
-------------------------------------
Can we reject H0
with 0.95 confidence? : True
=====================================

True

In [17]:
t_test_corr(applicant, var1 = "LC", var2 = "SMS")

=====================================
Correlation t-test between LC and SMS
-------------------------------------
t-statistic : 9.645682381129253
p-value : 6.328271240363392e-13
-------------------------------------
Can we reject H0
with 0.95 confidence? : True
=====================================

True

# 3. 

Write a Python code to get the confidence interval for correlation between two input variables. Using Applicant data, find the confidence interval for correlations between the variable pairs (LC,SC), (SC,SMS), and (LC,SMS), respectively. Use both the Fisher’s method and the Ruben’s method, then compare.

First, we will start off with the Fisher's method.

In [18]:
def get_ci_fisher(df, var1, var2, alpha=0.05, two_tailed=True):
    '''
    returns confidence interval of correlation between var1, var2 via Fisher's Method
    
    params 
    ------
    df : pandas.DataFrame obj
    var1 : str | column name of variable
    var2 : str | column name of variable
    
    return
    ------
    result : tuple
    '''
    confidence = 1 - alpha
    sample_size, _ = df.shape
    corr_mat = get_corr(df)
    corr_value = corr_mat[var1][var2]
    pseudo_width = abs(stats.norm.ppf(alpha / 2) / np.sqrt(sample_size - 3))
    
    ub = np.tanh(np.arctanh(corr_value) + pseudo_width)
    lb = np.tanh(np.arctanh(corr_value) - pseudo_width)
    result = (lb, ub)
    
    title = f"{int(confidence * 100)}% Confidence Interval for {var1} and {var2}"
    print("=" * len(title))
    print(f"{title}\n{result}")
    print("=" * len(title))
    
    return result

In [19]:
get_ci_fisher(applicant, "LC", "SC")

=====================================
95% Confidence Interval for LC and SC
(0.6792698433037457, 0.8879404041847789)
=====================================

(0.6792698433037457, 0.8879404041847789)

In [20]:
get_ci_fisher(applicant, "SC", "SMS")

======================================
95% Confidence Interval for SC and SMS
(0.6670518824694068, 0.8831183013061132)
======================================

(0.6670518824694068, 0.8831183013061132)

In [21]:
get_ci_fisher(applicant, "LC", "SMS")

======================================
95% Confidence Interval for LC and SMS
(0.6955518990364742, 0.8942959849700914)
======================================

(0.6955518990364742, 0.8942959849700914)

In [22]:
def get_ci_ruben(df, var1, var2, alpha=0.05, two_tailed=True):
    '''
    returns confidence interval of correlation between var1, var2 via Ruben's Method
    
    params 
    ------
    df : pandas.DataFrame obj
    var1 : str | column name of variable
    var2 : str | column name of variable
    
    return
    ------
    result : tuple
    '''
    confidence = 1 - alpha
    sample_size, _ = df.shape
    corr_mat = get_corr(df)
    corr_value = corr_mat[var1][var2]
    u_val = abs(stats.norm.ppf(alpha / 2))
    
    r_transformed = corr_value / np.sqrt(1-corr_value ** 2)
    
    a_val = (2 * sample_size) - 3 - (u_val**2)
    b_val = r_transformed * np.sqrt((2*sample_size -3)*(2*sample_size -5))
    c_val = (2*sample_size -5 - (u_val**2))*(r_transformed**2) - 2*(u_val**2)
    
    poly_coefs = [a_val,b_val*(-2),c_val]
    
    larger_root, smaller_root = np.roots(poly_coefs)
    
    _get_bound = lambda x: x / (np.sqrt(1+x**2))
    
    result = (_get_bound(smaller_root), _get_bound(larger_root))
    
    title = f"{int(confidence * 100)}% Confidence Interval for {var1} and {var2}"
    print("=" * len(title))
    print(f"{title}\n{result}")
    print("=" * len(title))
    
    return result

In [23]:
get_ci_ruben(applicant, "LC", "SC")

=====================================
95% Confidence Interval for LC and SC
(0.6743902647489781, 0.8861316879078326)
=====================================

(0.6743902647489781, 0.8861316879078326)

In [24]:
get_ci_ruben(applicant, "SC", "SMS")

======================================
95% Confidence Interval for SC and SMS
(0.662114359638192, 0.8812453808974201)
======================================

(0.662114359638192, 0.8812453808974201)

In [25]:
get_ci_ruben(applicant, "LC", "SMS")

======================================
95% Confidence Interval for LC and SMS
(0.6907619155936955, 0.8925735875766829)
======================================

(0.6907619155936955, 0.8925735875766829)

# 4. 

Impute missing values in ‘rep78’ variable in ‘auto.dat’ using Python. Use a regression method using other variables of your choice. Calculate means and standard deviations of ‘rep78’ variable before and after the imputation. (이 문제에서는 파이썬 패키지 혹은 내장함수를 사용해도 됨.)

First, we will remove `rep77` column since it is another response variable.
Also, the column name itself implies that the response exits for each year.
Therefore, even though we get a strong statistic conclusion by treating `rep77` as a independent variable, the independence hypothesis might be easily dismissed due to temporal correlation.

In [26]:
auto = pd.read_fwf("auto.dat", header = None, widths = [19,4,6,3,2,2,4,5,3,5,4,3,4,4], 
                   na_values='.')
auto.columns = ['model','origin', 'price', 'mpg', 'rep78', 'rep77', 'hroom', 'rseat', 
                'trunk', 'weight', 'length', 'turn', 'displa', 'gratio']
auto_varnames = auto.columns.to_list()
auto_varnames.remove("rep77")
auto_reduced = auto[auto_varnames]

We can also notice that `model` column is contains a larger category which is the automaker. Since the automaker itself can be significant variable with regards to the number of repairs(for example Hyundai being infamous for reliability issues in it's early years in the North America market), we will make another column named `brand`.

In [27]:
model_column = auto_reduced['model']
_get_brand = lambda x: x.split(' ')[0]
brand_column = model_column.apply(_get_brand).rename("brand")
auto_reduced["brand"] = brand_column
auto_reduced.head(1)

,model,origin,price,mpg,rep78,hroom,rseat,trunk,weight,length,turn,displa,gratio,brand
0,AMC CONCORD,A,4099,22,3.0,2.5,27.5,11,2930,186,40,121,3.58,AMC

Now we need to encode the categorial variables(`origin` and `brand`) and make them into a dataframe named `dummies_df`.

In [28]:
origin_dummies = pd.get_dummies(auto_reduced['origin'])
brand_dummies = pd.get_dummies(auto_reduced['brand'])
dummies_df = pd.concat([origin_dummies, brand_dummies], axis=1)

We will create a matrix(`x`) for various calculations.  
1. `model`, `origin`, and `brand` columns from `auto_reduced` dataframe will be removed.    
2. Standard scaling will be applied to numerical columns. 
3. `dummies_df` dataframe will be concatenated post-scaling.

In [29]:
x = auto_reduced.copy().drop(['model', 'origin', 'brand'], axis=1)
y = x['rep78'] 
col_names_to_scale = x.columns.to_list()
col_names_to_scale.remove('rep78')

In [30]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_cols = scaler.fit_transform(x[col_names_to_scale])
scaled_x = pd.DataFrame(scaled_cols, columns=col_names_to_scale)
scaled_x.head(3)

,price,mpg,hroom,rseat,trunk,weight,length,turn,displa,gratio
0,-0.717335,0.122288,-0.583230,0.219731,-0.647045,-0.103792,-0.092902,0.047249,-0.836459,1.248285
1,-0.494590,-0.747840,0.016201,-0.424233,-0.647045,0.435650,-0.677027,0.047249,0.665493,-1.084369
2,-0.820140,0.122288,0.016201,-2.678106,-0.411176,-0.476265,-0.901691,-1.118228,-0.836459,0.137497

In [31]:
x = pd.concat([y, scaled_x, dummies_df], axis=1)
x.head(1)

,rep78,price,mpg,hroom,rseat,trunk,weight,length,turn,displa,...,MERC.,OLDS.,PEUGEOT,PLYM.,PONT.,RENAULT,SUBARU,TOYOTA,VOLVO,VW
0,3.0,-0.717335,0.122288,-0.58323,0.219731,-0.647045,-0.103792,-0.092902,0.047249,-0.836459,...,0,0,0,0,0,0,0,0,0,0

In [32]:
indep_var_names = x.columns.to_list()
indep_var_names.remove('rep78')
dep_var_name = ['rep78']

In [33]:
from sklearn.linear_model import LinearRegression
is_nan = x.isnull()
nan_rows = is_nan.any(axis=1)
rows_with_nan = x[nan_rows]
rows_full = x[~nan_rows]

In [34]:
linear_model = LinearRegression()
linear_model.fit(rows_full[indep_var_names], rows_full[dep_var_name])
imputed_values = linear_model.predict(rows_with_nan[indep_var_names])

Statistics including mean and standard deviations of `rep78` prior to imputation.

In [35]:
y.describe()

count    69.000000
mean      3.405797
std       0.989932
min       1.000000
25%       3.000000
50%       3.000000
75%       4.000000
max       5.000000
Name: rep78, dtype: float64

Statistics including mean and standard deviations of `rep78` post-imputation.

In [36]:
rows_with_nan['rep78'] = imputed_values
imputed_x = pd.concat([rows_with_nan, rows_full], axis=0)
imputed_x['rep78'].describe()

<ipython-input-36-9e79bda8df14>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_with_nan['rep78'] = imputed_values

count    74.000000
mean      3.411366
std       0.966808
min       1.000000
25%       3.000000
50%       3.000000
75%       4.000000
max       5.000000
Name: rep78, dtype: float64

**Conclusion**. 

Key statistics including mean and standard deviation are consistent prior and posterior to imputation of column `rep78`.